.skeleton-bjmm5pnx4m7:empty {
  position: relative;
  height: 400px;
  background-color: #ffffff;
  border-radius: 0px 0px 0px 0px;
  background-image: linear-gradient(#f5f7f9 6px, transparent 0),
    linear-gradient(#f5f7f9 6px, transparent 0),
    linear-gradient(#f5f7f9 6px, transparent 0),
    linear-gradient(#f5f7f9 6px, transparent 0),
    linear-gradient(#f5f7f9 6px, transparent 0),
    radial-gradient(circle 20px at 20px 20px, #f5f7f9 99%, transparent 0);
  background-repeat: repeat-y;
  background-size: 43% 133px, 90% 133px, 74% 133px, 52px 133px, 88px 133px,
    40px 133px;
  background-position: left 12px top 111px, left 12px top 92px,
    left 12px top 73px, left 59px top 39px, left 59px top 21px,
    left 12px top 12px;
}
.skeleton-bjmm5pnx4m7:empty:before {
  content: " ";
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 400px;
  -webkit-mask-image: linear-gradient(
    100deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 80%
  );
  -webkit-mask-repeat: repeat-y;
  -webkit-mask-size: 50px 400px;
  -webkit-mask-position: -20% 0;
  background-image: linear-gradient(rgba(102, 102, 102, 1) 6px, transparent 0),
    linear-gradient(rgba(102, 102, 102, 1) 6px, transparent 0),
    linear-gradient(rgba(102, 102, 102, 1) 6px, transparent 0),
    linear-gradient(rgba(102, 102, 102, 1) 6px, transparent 0),
    linear-gradient(rgba(102, 102, 102, 1) 6px, transparent 0),
    radial-gradient(
      circle 20px at 20px 20px,
      rgba(102, 102, 102, 1) 99%,
      transparent 0
    );
  background-repeat: repeat-y;
  background-size: 43% 133px, 90% 133px, 74% 133px, 52px 133px, 88px 133px,
    40px 133px;
  background-position: left 12px top 111px, left 12px top 92px,
    left 12px top 73px, left 59px top 39px, left 59px top 21px,
    left 12px top 12px;
  animation: shineForSkeleton-bjmm5pnx4m7 2s infinite;
}
@keyframes shineForSkeleton-bjmm5pnx4m7 {
  to {
    -webkit-mask-position: 120% 0;
  }
}

.skeleton-8yn73p5ohpc:empty {
  position: relative;
  height: 290px;
  background-color: #ffffff;
  border-radius: 0px 0px 0px 0px;
  background-image: linear-gradient(#e0e0e0 20px, transparent 0),
    radial-gradient(
      circle 17.5px at 17.5px 17.5px,
      #e0e0e0 16.5px,
      transparent 17.5px
    ),
    linear-gradient(#e0e0e0 200px, transparent 0);
  background-repeat: repeat-y;
  background-size: 300px 290px, 35px 290px, 360px 290px;
  background-position: left 70px top 244px, left 20px top 236px,
    left 20px top 20px;
}
.skeleton-8yn73p5ohpc:empty:before {
  content: " ";
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 290px;
  -webkit-mask-image: linear-gradient(
    100deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 80%
  );
  -webkit-mask-repeat: repeat-y;
  -webkit-mask-size: 50px 290px;
  -webkit-mask-position: -20% 0;
  background-image: linear-gradient(rgba(102, 102, 102, 1) 20px, transparent 0),
    radial-gradient(
      circle 17.5px at 17.5px 17.5px,
      rgba(102, 102, 102, 1) 16.5px,
      transparent 17.5px
    ),
    linear-gradient(rgba(102, 102, 102, 1) 200px, transparent 0);
  background-repeat: repeat-y;
  background-size: 300px 290px, 35px 290px, 360px 290px;
  background-position: left 70px top 244px, left 20px top 236px,
    left 20px top 20px;
  animation: shineForSkeleton-8yn73p5ohpc 2s infinite;
}
@keyframes shineForSkeleton-8yn73p5ohpc {
  to {
    -webkit-mask-position: 120% 0;
  }
}
